## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Longitude,Latitude,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Khatanga,RU,102.5000,71.9667,28.85,91,91,9.35,overcast clouds
1,1,Gannavaram,IN,80.8000,16.5333,76.98,100,90,4.61,thunderstorm with light rain
2,2,Fes,MA,-4.9998,34.0372,66.45,100,0,5.75,clear sky
3,3,Yangi Marg`ilon,UZ,71.7189,40.4272,72.32,18,0,6.91,clear sky
4,4,Vaini,TO,-175.2000,-21.2000,77.16,73,75,6.91,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 0
What is the maximum temperature you would like for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Longitude,Latitude,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Khatanga,RU,102.5000,71.9667,28.85,91,91,9.35,overcast clouds
1,1,Gannavaram,IN,80.8000,16.5333,76.98,100,90,4.61,thunderstorm with light rain
2,2,Fes,MA,-4.9998,34.0372,66.45,100,0,5.75,clear sky
3,3,Yangi Marg`ilon,UZ,71.7189,40.4272,72.32,18,0,6.91,clear sky
4,4,Vaini,TO,-175.2000,-21.2000,77.16,73,75,6.91,broken clouds
5,5,Rikitea,PF,-134.9692,-23.1203,73.78,72,2,19.42,clear sky
6,6,Port Alfred,ZA,26.8910,-33.5906,64.33,91,25,19.57,scattered clouds
7,7,Baijiantan,CN,85.1833,45.6333,54.00,27,7,7.94,clear sky
8,8,Thompson,CA,-97.8558,55.7435,59.16,63,40,0.00,scattered clouds
9,9,Bluff,NZ,168.3333,-46.6000,50.81,53,7,5.35,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                681
City                   681
Country                673
Longitude              681
Latitude               681
Max Temp               681
Humidity               681
Cloudiness             681
Wind Speed             681
Current Description    681
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Longitude,Latitude,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Khatanga,RU,102.5000,71.9667,28.85,91,91,9.35,overcast clouds
1,1,Gannavaram,IN,80.8000,16.5333,76.98,100,90,4.61,thunderstorm with light rain
2,2,Fes,MA,-4.9998,34.0372,66.45,100,0,5.75,clear sky
3,3,Yangi Marg`ilon,UZ,71.7189,40.4272,72.32,18,0,6.91,clear sky
4,4,Vaini,TO,-175.2000,-21.2000,77.16,73,75,6.91,broken clouds
...,...,...,...,...,...,...,...,...,...,...
676,676,Stanghelle,NO,5.7357,60.5528,62.78,71,100,6.06,overcast clouds
677,677,Boshan,CN,117.8333,36.4833,64.24,99,100,5.97,overcast clouds
678,678,Aksha,RU,113.2867,50.2814,43.05,54,3,6.89,clear sky
679,679,Pangody,RU,74.4859,65.8500,31.69,79,0,5.30,clear sky
680,680,Iracoubo,GF,-53.2011,5.4802,81.09,81,6,12.30,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Latitude", "Longitude"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Latitude,Longitude,Hotel Name
0,Khatanga,RU,28.85,overcast clouds,71.9667,102.5000,
1,Gannavaram,IN,76.98,thunderstorm with light rain,16.5333,80.8000,
2,Fes,MA,66.45,clear sky,34.0372,-4.9998,
3,Yangi Marg`ilon,UZ,72.32,clear sky,40.4272,71.7189,
4,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,
5,Rikitea,PF,73.78,clear sky,-23.1203,-134.9692,
6,Port Alfred,ZA,64.33,scattered clouds,-33.5906,26.8910,
7,Baijiantan,CN,54.00,clear sky,45.6333,85.1833,
8,Thompson,CA,59.16,scattered clouds,55.7435,-97.8558,
9,Bluff,NZ,50.81,clear sky,-46.6000,168.3333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Latitude,Longitude,Hotel Name
0,Khatanga,RU,28.85,overcast clouds,71.9667,102.5000,"Gostinitsa ""Zapolyar'ye"""
1,Gannavaram,IN,76.98,thunderstorm with light rain,16.5333,80.8000,K guest house.
2,Fes,MA,66.45,clear sky,34.0372,-4.9998,Hotel Mounia Fès
3,Yangi Marg`ilon,UZ,72.32,clear sky,40.4272,71.7189,Ikathouse
4,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
5,Rikitea,PF,73.78,clear sky,-23.1203,-134.9692,People ThankYou
6,Port Alfred,ZA,64.33,scattered clouds,-33.5906,26.8910,The Halyards Hotel
7,Baijiantan,CN,54.00,clear sky,45.6333,85.1833,
8,Thompson,CA,59.16,scattered clouds,55.7435,-97.8558,Burntwood Hotel
9,Bluff,NZ,50.81,clear sky,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [14]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""



# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Latitude", "Longitude"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))